/* styles/theme.css */

:root {
  --color-bg: #f9f9f9;
  --color-text: #111;
  --color-accent: #0070f3;
  --color-muted: #666;
  --color-warning: #ffa726;

  --font-base: 'Segoe UI', sans-serif;

  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;

  --border-radius: 6px;
}

*, *::before, *::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
}

input, button {
  font-family: inherit;
  font-size: 1rem;
}




